{% extends 'layout/partials/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto shadow py-5 mb-5 px-5">
            <form method="post">


                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-bold text-center">Please sign in</h1>
                {% if error %}

                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <label for="inputUsername">Username</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mb-3" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control mb-3" required>


                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <button class="btn btn-lg btn-primary w-100" type="submit">
                    Sign in
                </button>
            </form>
        </div>
    </div>

{% endblock %}
