 {% extends 'layout/partials/base.html.twig' %}

 {% block title 'Pin' %}


 {% block body %}
     <div class="col-md-6 mx-auto mb-4">
         <article class="rounded shadow ">
             <div class="pin-img overflow-hidden">

                     <img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('images/pins/default.jpeg')) |
                     imagine_filter("thumb_background")}}" alt="{{ pin.title }}" class="w-100" />

             </div>
             <div class="content p-3">
                 <h4 class="mb-3 text-muted">{{ pin.title}}</h4>
                 <p>{{ pin.description}}</p>
                 <div class="d-flex justify-content-between">
                     <small>Created By <b>{{ pin.user.fullName }}</b> </small>

                     <small>last Update : <b>{{ pin.updatedAt|ago}}</b></small>

                 </div>



             </div>
             {% if app.user.id == pin.user.id %}

             <div class="actions py-2 px-3">
                 <a href="{{ path('admin_edit_pin',{id:pin.id}) }}" class="btn btn-light">Edit</a>
                 <form onsubmit="return confirm('Are you sure ?');" method="post" action="{{ path('admin_delete_pin',{id:pin.id}) }}" class="d-inline">
                     <input type="hidden" name="_method" value="DELETE">
                     <input type="hidden" name="_token" value="{{ csrf_token('delete_pin'~pin.id) }}">
                     <input type="submit" class="text-danger border-0 bg-white" value="Delete">
                 </form>

             </div>
             {% endif %}

         </article>




     </div>

 {% endblock %}