 {% extends 'layout/partials/base.html.twig' %}

 {% block title 'Pin' %}


 {% block body %}
     <div class="row shadow single-pin">
         <div class="col-md-6  mb-4">
             <article class="rounded  ">
                 <div class="pin-img overflow-hidden">
                     {% if( 'https' in pin.imageName ) %}
                         <img src="{{ pin.imageName }}" width="100%">
                     {% else %}
                         <img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('images/pins/default.jpeg')) |
                         imagine_filter("thumb_background")}}" alt="{{ pin.title }}" class="w-100" />
                     {% endif %}


                 </div>
                 <div class="content p-3">
                     <h4 class="mb-3 text-muted">{{ pin.title}}</h4>
                     <p>{{ pin.description}}</p>
                     <div class="d-flex justify-content-between">
                         <small>Created By <b>{{ pin.user.fullName }}</b> </small>

                         <small>last Update : <b>{{ pin.updatedAt|ago}}</b></small>

                     </div>

                 </div>
<<<<<<< HEAD
                 {% if  app.user is not null and app.user.id == pin.user.id %}
=======
                 {% if app.user is not null and app.user.id == pin.user.id %}
>>>>>>> 64754af55e0098b160c8982e586afc61e4952f57

                     <div class="actions py-2 px-3">
                         <a href="{{ path('edit_pin',{id:pin.id}) }}" class="btn btn-light">Edit</a>
                         <form onsubmit="return confirm('Are you sure ?');" method="post" action="{{ path('delete_pin',{id:pin.id}) }}" class="d-inline">
                             <input type="hidden" name="_method" value="DELETE">
                             <input type="hidden" name="_token" value="{{ csrf_token('delete_pin'~pin.id) }}">
                             <input type="submit" class="text-danger border-0 bg-white" value="Delete">
                         </form>

                     </div>
                 {% endif %}

             </article>
         </div>
         <div class="col-md-6">
             <div class="comments">
                 <h4 class="mb-4 h5">Comments</h4>
                 <div class="list-comment">
                     {% for comment in pin.comments %}
                         <div class="col-lg-12">
                             <div class="comment">
                                 <div class="d-flex">
                                     <img src="{{ asset('images/pins/5ad68890d7289-thumb900-5f87834d446a6911649320.jpg') }}" class="rounded-circle mr-1" alt="" width="42px" height="42px">
                                     <p class="content" >
                                         <span class="font-weight-bold">{{ comment.userid.username }}</span>
                                         <br>
                                         {{ comment.getComment}}
                                     </p>
                                 </div>
                                 <small class="date-comment">{{ comment.createdAt|ago}}</small>
                             </div>

                         </div>

                     {% endfor %}
                 </div>
<<<<<<< HEAD
                 {% if app.user is not null %}
=======
                 {% if app.user %}
>>>>>>> 64754af55e0098b160c8982e586afc61e4952f57
                 <div class="col-lg-12">
                     <div class="comment ">
                         <div class="d-flex">
                             <img src="{{ asset('images/pins/5ad68890d7289-thumb900-5f87834d446a6911649320.jpg') }}" class="rounded-circle mr-1" alt="" width="42px" height="42px">

                             <form id="addComment">
                                 <textarea name="comment" class="input-comment" placeholder="Add your Comment..."></textarea>
                                 <input type="hidden" id="url" value="{{ path('pin_add_comment',{id:pin.id}) }}">
                                 <button type="submit" class="btn btn-secondary">Comment</button>
                             </form>

                         </div>

                     </div>

                 </div>
                 {% endif %}


             </div>
         </div>
     </div>


 {% endblock %}